body{
  padding-bottom: 100px;
}

.jumbotron{
  height: 100vw;
}

.jumbotron-content{
  margin: 75px 0;
}

nav {
  background-color: lightgrey;
}

.toggle-triangle {
  float: left;
  padding-right: 5px;
}

.list-item, .list-header{
  padding: .75rem;
  border: 1px solid grey;
  background-color: #e9ecef;
}

.list-header{
  background-color: lightgrey;
}

.list-item>h5, .list-item>p{
  margin: 0.1rem 0;
}

.list-item-location-pin{
  float: right;
  width: 35px;
  height: auto;
  margin: auto 0rem;
}
