// Color Variables

// $primary-color: #7CD27C;
$primary-color: rgb(156,218,87); // green #9cda57
$link-color: rgb(87,156,218); // blue #579cda
$active-link-color: rgb(41,118,187); // dark blue #2976bb
$secondary-color: rgb(218, 149, 87); // soft orange #da9557
$bg-color: rgba(255, 255, 255, 1); // white 
$highlight-color: rgba(255, 255, 255, 0.75);
$body-text-color: rgb(13,36,57);
$heading-text-box-color: rgba(0, 71, 71, 0.75);
