// Font Variables
$headline: "BioRhyme";
$headline-fb: serif;
$body: "Lato";
$body-fb: sans-serif;

$headline-font-size: 100px;
$headline-mobile-font-size: 45px;

@import url('https://fonts.googleapis.com/css?family=BioRhyme|Lato');
