@import '_colors.scss';
@import '_fonts.scss';
@import '_urls.scss';
@import '_mixins.scss';

// Your CSS/SCSS below this line

body{
  padding-bottom: 100px;
  background-color: $background-color;
}

h1 {
  font-family: $headline, $headline-fallback;
  font-weight: bold;
  color: white;
}

h1.dark-heading{
  color: $primary-color;
  z-index: 999;
  padding: 5px;
}

h2{
  margin-bottom: 1rem;
}

h2, h3, h4, h5, h6, p {
  font-family: $body, $body-fallback;
  color: $body-text-color;
}

.muted{
  color: $body-text-color-muted;
}

h5.light {
  color: white;
}

h2, h3, h4, h5, h6 {
  color: $primary-color;
}

h4.card-title{
  font-size: 1.2em;
}

.card img{
  border-bottom: 1px solid $body-text-color-muted;
}

a{
  color: $link-color;
}

a.trigger {
  color: $body-text-color;
}

nav{
  margin-bottom: 0 !important;
}

.navbar {
  background-color: $primary-color;
  max-height: 80px;
  padding: 0;
}

.nav-link{
  max-height: 80px;
  width: 33.333%;
  color: $btn-color;
}

.nav-link.active{
  background-color: $btn-color !important;
  color: $body-text-color;
  height: 100%;
}

.tab-link{
  width: auto;
}

.nav-link-text{
  font-size: 0.75rem;
  color: $body-text-color;
  display: block;
  margin: 5px auto;
  text-align: center;
}

//a.active .nav-link-text{ color: $primary-color; }

.nav-img{
  max-height: 45px;
  width: auto;
  margin-top: 2px;
}

.jumbotron{
  height: 100vw;
  background: url("../images/blurry-peppers.jpg") no-repeat center bottom;
  background-size: cover;
}

.jumbotron-content{
  height: auto;
  max-height: 100vh;
  width:auto;
  margin: 80px 0;
}

.introVideo-thumb{
  width: 100%;
  height: auto;
}

.modal-body{
  text-align: center;
}

.fa-play-circle{
  position: relative;
  bottom: 110px;
  color: $btn-color;
}

.btn{
  background-color: $btn-color;
  color: white;
  border: 1px outset $body-text-color-muted;
}

a.active{
  background-color: $active-link-color !important;
}

.intro-btn{
  margin-top: 10px;
}

.recipes-button{
  width: 100%;
  min-width: 155px;
  font-size: .75em;
  white-space: normal;
  margin: 10px 0px 20px 0px;
}

.toggle-triangle {
  float: left;
  padding-right: 5px;
}

li.active{
  background-color: $active-link-color !important;
  border: 1px solid grey !important;
}

.list-item, .list-header, .kitchen-item, .card{
  border: 1px solid $body-text-color-muted;
}

.list-item, .list-header, .kitchen-item{
  margin-bottom: -1px;
  background-color: #e9ecef;
}

.kitchen-item{
  margin-left: 5px;
}

.kitchen-item-unchecked:before{
  content: "\f096  ";
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
}

.kitchen-item-checked:before{
  content: "\f046  ";
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
}

.list-header-open:before{
  content: "\f0d7  ";
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
}

.list-header-closed:before{
  content: "\f0da  ";
  display: inline;
  font-family: FontAwesome;
  margin-right: 5px;
}

.kitchen-filter-off{
  background-color: $btn-color !important;
}

.kitchen-filter-on{
  background-color: $active-link-color !important;  
}

a.trigger:hover{
  text-decoration: none;
}

.cta-btn{
  margin-top: 1em;
  background-color: $secondary-color;
}

.list-item, .list-header{
  padding: .75rem;
}

.list-header{
  background-color: $primary-color;
}

.list-item>h5, .list-item>p{
  margin: 0.1rem 0;
}

.list-item-location-pin{
  float: right;
  width: 35px;
  height: auto;
  margin: auto 0rem;
}

.list-kitchen-sack{
  float: right;
  width: 21px;
  height: auto;
  margin: auto 0rem;
}

.list-recipe-sack{
  float: left;
  width: 21px;
  height: auto;
  margin: .3rem 0.3rem 0 0;
}

.list-group-item{
  padding: 1rem 1.25rem;
}

p.recipe-sack{
  margin-top: .4rem;
  margin-bottom: 0;
  font-size: .9rem;
}

.kitchen-active{
  background-color: $secondary-color;
  font-weight: normal;
}

.back-btn {
  position: absolute;
  z-index: 1000;
  padding-top: 15px;
}

@media (max-width: 34em) {
    .card-columns {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }
}

/* LOCAL FARMS PAGE */
#map {
  height: 100%;
  width: 100%;
  position:absolute;
  top: 30px;
  left: 0;
  z-index: 0;
}

.page-head{
  width: 100%;
  height: 75px;
  background-color: $background-color;
  position: absolute;
  z-index: 998;
}

.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-banner{
  width: 100%;
  height: auto;
  margin: 15px 0;
}

.nav-justified{
  margin: 0 0 10px;
}

ol li{
  margin-bottom: 15px;
}

.secondary{
  color: $secondary-color;
}

.kitchen-header{
  margin: 20px 0 10px 0;
}
