@import '_colors.scss';
@import '_fonts.scss';
@import '_urls.scss';
@import '_mixins.scss';

// Your CSS/SCSS below this line

body{
  padding-bottom: 100px;
  background-color: white;
}

.jumbotron{
  height: 100vw;
  background: url("../images/ig-veggies-3.jpg") no-repeat center bottom;
  background-size: cover;
}

.jumbotron-content{
  height: auto;
  max-height: 100vh;
  width:auto;
  margin: 75px 0;
}

nav {
  background-color: lightgrey;
}

.toggle-triangle {
  float: left;
  padding-right: 5px;
}

.list-item, .list-header{
  padding: .75rem;
  border: 1px solid grey;
  background-color: #e9ecef;
}

.list-header{
  background-color: lightgrey;
}

.list-item>h5, .list-item>p{
  margin: 0.1rem 0;
}

.list-item-location-pin{
  float: right;
  width: 35px;
  height: auto;
  margin: auto 0rem;
}
