@import '_colors.scss';
@import '_fonts.scss';
@import '_urls.scss';
@import '_mixins.scss';

// Your CSS/SCSS below this line

body{
  padding-bottom: 100px;
  background-color: $bg-color;
}

h1 {
  font-family: $headline, $headline-fallback;
  font-weight: bold;
  color: white;
}

h1.dark-heading{
  color: $primary-color;
  z-index: 999;
  padding: 5px;
}

h2, h3, h4, h5, h6, p {
  font-family: $body, $body-fallback;
}

h2, h3, h4, h5, h6 {
  color: white;
}

h4{
  color: $secondary-color;
}

h4.card-title{
  font-size: 1.2em;
}

a{
  color: $link-color;
}

.navbar {
  background-color: $primary-color;
  max-height: 80px;
}

.nav-link{
  max-height: 80px;
}

.nav-link.active{
  background-color: $active-link-color !important;
  height: 100%;
}

.nav-link-text{
  font-size: 0.75rem;
  color: $body-text-color;
}

a.active .nav-link-text{
  color: $primary-color;
}

.nav-img{
  max-height: 45px;
  width: auto;
  margin-top: 2px;
}

.jumbotron{
  height: 100vw;
  background: url("../images/blurry-peppers.jpg") no-repeat center bottom;
  background-size: cover;
}

.jumbotron-content{
  height: auto;
  max-height: 100vh;
  width:auto;
  margin: 80px 0;
}

.btn{
  background-color: $link-color;
  color: white;
}

.recipes-button{
  width: 165px;
  font-size: .75em;
  white-space: normal;
  margin: 10px 10px 20px 10px;
}

.btn:active{
  background-color: $active-link-color;
}

intro-btn{
  margin-top: 10px;
}

.toggle-triangle {
  float: left;
  padding-right: 5px;
}

.list-item, .list-header{
  padding: .75rem;
  border: 1px solid grey;
  background-color: #e9ecef;
}

.list-header{
  background-color: lightgrey;
}

.list-item>h5, .list-item>p{
  margin: 0.1rem 0;
}

.list-item-location-pin{
  float: right;
  width: 35px;
  height: auto;
  margin: auto 0rem;
}

.back-btn {
  position: absolute;
  z-index: 1000;
  padding-top: 15px;
}

@media (max-width: 34em) {
    .card-columns {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }
}

/* LOCAL FARMS PAGE */
#map {
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.page-head{
  width: 100%;
  height: 60px;
  background-color: $bg-color;
  position: absolute;
  z-index: 998;
}
